## **Scraping the stock tickers of S&P500**
---
Conditions:
*   https://en.wikipedia.org/wiki/List_of_S%26P_500_companies

### 1. Libraries

In [46]:
import bs4 as bs
import requests
import pandas as pd

### 2. Scraping the data using BeautifulSoup

In [49]:
def sp500_tickers():
    resp = requests.get('https://en.wikipedia.org/wiki/List_of_S%26P_500_companies')
    soup = bs.BeautifulSoup(resp.text, "lxml")
    table = soup.find('table', {'class':'wikitable sortable'})
    company_ticker = []
    for row in table.findAll('tr')[1:]:
        ticker = row.findAll('td')[0].text
        company_ticker.append(ticker)
    return company_ticker

def sp500_names():
    resp = requests.get('https://en.wikipedia.org/wiki/List_of_S%26P_500_companies')
    soup = bs.BeautifulSoup(resp.text, "lxml")
    table = soup.find('table', {'class':'wikitable sortable'})
    company_name = []
    for row in table.findAll('tr')[1:]:
        name = row.findAll('td')[1].text
        company_name.append(name)
    return company_name

### 3. Creating a DataFrame

In [55]:
data = pd.DataFrame(columns=['company_name', 'company_ticker'])
data['company_name'] = sp500_names()
data['company_ticker'] = sp500_tickers()
data.head()

  company_name company_ticker
0           3M          MMM\n
1  A. O. Smith          AOS\n
2       Abbott          ABT\n
3       AbbVie         ABBV\n
4      Abiomed         ABMD\n

In [61]:
#Clean the data by deleting all '\n'
data['company_ticker']  = data['company_ticker'].str.replace('\n' , '')
data.head()

  company_name company_ticker
0           3M            MMM
1  A. O. Smith            AOS
2       Abbott            ABT
3       AbbVie           ABBV
4      Abiomed           ABMD